<!DOCTYPE html>
<html>
<head>
  <title>Payment Failed</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Payment Failed</h1>
  <p><%= error %></p>
  <a href="/services">Try Again</a>
</body>
</html>
